{{!-- this is our main page. --}}
{{!-- we will create a section in which the content can change --}}
<html>
    <head>
        <title>Burger</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>